div {
    text-align: center;
  }
body{
    height: 100vh !important;
    background-image:url("../../../assets/images/almira.png") !important;
}
  .button:hover {
    cursor: pointer;
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
  .container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15PX;
  }
  .white{
    color:white !important;
    font-weight: 500 !important;
  }
  .logo{
    height: 40px;
    filter:  brightness(0) invert(1);
  }
  .text-white{
    color: white;
    font-weight: 500 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  a{
    color:white !important;
  }
  .ant-modal-footer{
    display:none !important;
  }
    
  
  ng-template{
    width: 200px !important;
  }
  
  .qr{
    height: 38px!important;
    width: 38px !important;
    filter: brightness(0) invert(1);
    border-radius: 0% !important;
    cursor: pointer;
    margin-bottom: 3px;
  }
  
  .notFound {
    height: 100vh;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .h1-nf {
    text-align: center;
    font-size: 200px;
    padding-top: 20%;
    opacity: 0.6;
  }
  .h2-nf {
    text-align: center;
    font-size: 100px;
    opacity: 0.6;
  }
  .p-nf {
    text-align: center;
    font-size: 60px;
    opacity: 0.5;
    margin-top: 80px;
    opacity: 0.6;
  }
  #employeePhoto {
    image-rendering: auto;
    width: 200px;
    height: 200px;
    object-position: top !important;
    object-fit: cover !important;
    border-radius: 50%;
  }
  
   .btn{
    border: 2px solid white;
    color: white;
    background-color: transparent;
    font-weight: 600;
    border-radius: 30px;
    width: 200px;
    height: 45px;
   }
   .btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    font-weight: 500;
    border-radius: 50%;
    width: 35px;
    height: 35px;
   }
   .button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   }
   .btn1:hover{
    border-radius: 50%;
    background-color: #434854;
    border-color: #434854;
    color: white;
    transition: 0.5s ease-in-out;

   }
   .btn:hover{
    background-color: #434854;
    border-color: #434854;
    color: white;
    transition: 0.5s ease-in-out;
   }
  .column{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .location {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  
  
  @media screen and (max-width: 1600px) {
    
    .h1-nf {
      text-align: center;
      font-size: 100px;
      padding-top: 15%;
  
      z-index: 1;
    }
    .h2-nf {
      text-align: center;
      font-size: 40px;
    }
    .p-nf {
      text-align: center;
      font-size: 30px;
      margin-top: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
  
    .h1-nf {
      text-align: center;
      font-size: 100px;
      padding-top: 30%;
    }
  }
  
  @media screen and (max-width: 425px) {
  
    .h1-nf {
      text-align: center;
      font-size: 100px;
      padding-top: 60%;
    }
  
    .h2-nf {
      text-align: center;
      font-size: 40px;
    }
    .p-nf {
      text-align: center;
      font-size: 30px;
    }
  
  }
  @media screen and (max-width: 1024px) {
    .red {
      background-color:rgb(217, 44, 44) !important;
    }
    .qr{
      height: 28px!important;
      width: 28px !important;
    }
  }